
<head>
<link rel="stylesheet" type="text/css" href="assets/stylesheet.scss.erb">
</head>

<body><h1>Welcome to my Travel Site</h1>


<p>This is my very awesome travel site.

<%= @homeland %>

<%= link_to "About", about_path %>
<%= link_to "Contact", contact_path %>

<table class="table">
  <tr>
    <% @united_states.each do |key,value| %>
	  <th><%= key.titleize %></th>
    <% end %>
  </tr>
  <tr>
    <% @united_states.each do |key,value| %>      
      <% if value.kind_of?(Array) %>
          <td><%= value.join(", ") %></td>
      <% else %>
         <td><%= value %></td>
      <% end %> 
    <% end %>
  </tr>
</table>
<ul>
  <% @countries.each do |country| %>
    <li><%= country %></li>
  <% end %>
</ul>

<%= image_tag "chile.jpg", height: 300,  width: 400 %>
<%= image_tag "puertorico.jpg", height: 300,  width: 400 %>
<%= image_tag "bolivia.jpg", height: 300,  width: 400 %>
<%= image_tag "chile.jpg", height: 300,  width: 400 %>
</p>


</body>

<%= yield %>

